<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.scss" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <label for="name">移動</label>
      <div class="content">
        <div class="box box1"></div>
      </div>
      <label for="name">easing</label>
      <div class="content">
        <div class="box box2"></div>
      </div>
      <label for="name">repeat</label>
      <div class="content">
        <div class="box box3"></div>
      </div>
      <label for="name">yoyo</label>
      <div class="content">
        <div class="box box4"></div>
      </div>
      <label for="name">rotate</label>
      <div class="content">
        <div class="box box5"></div>
      </div>
      <label for="name">scale</label>
      <div class="content">
        <div class="box box6"></div>
      </div>
      <label for="name">skewX</label>
      <div class="content">
        <div class="box box7"></div>
      </div>
      <label for="name">skewY</label>
      <div class="content">
        <div class="box box8"></div>
      </div>
      <label for="name">Ease</label>
      <div class="content"></div>
      <label for="name">linear</label>
      <div class="content">
        <div class="box ease1"></div>
      </div>
      <label for="name">sine</label>
      <div class="content">
        <div class="box ease2"></div>
      </div>
      <label for="name">quad</label>
      <div class="content">
        <div class="box ease3"></div>
      </div>
      <label for="name">cubic</label>
      <div class="content">
        <div class="box ease4"></div>
      </div>
      <label for="name">quart</label>
      <div class="content">
        <div class="box ease5"></div>
      </div>
      <label for="name">quint</label>
      <div class="content">
        <div class="box ease6"></div>
      </div>
      <label for="name">expo</label>
      <div class="content">
        <div class="box ease7"></div>
      </div>
      <label for="name">from</label>
      <div class="content">
        <div class="box other1"></div>
      </div>
    </main>

    <button class="btn-reset">reset</button>
    <script type="module" src="./index.ts"></script>
  </body>
</html>
