body{
	color: #333333;
	background-color: #FFFFFF;
	font-size: 100%;
	line-height: 1.7;
	-webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 24px;
}
main {
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 8fr ;
  gap: 12px;
  
}
.btn-reset {
  height: 44px;
  padding: 0 12px;
  border: 2px solid #000;
  &:hover {
    cursor: pointer;
    color: #fff;
    background: #000;
  }
}

//

.box {
  width: 44px;
  height: 44px;
  background-color: #0ea0c5;
}